@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #f5f5f5;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
}

.el-table {
    thead {
        th .cell {
            color: var(--el-color-black);
            font-size: 16px;
            line-height: 24px;
            padding: 0 24px;
            opacity: 1;
        }
    }
    tbody {
        .cell {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            padding: 0 24px;
            color: var(--el-color-black);
            opacity: 0.5;
        }
        .el-table__expand-column {
            .cell {
                padding: 0;
            }
        }
    }
    &__footer {
        tbody {
            .cell {
                opacity: 1;
            }
        }
    }
}
.table {
    &__head {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--el-color-black);
        padding: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            color: #0052CC;
            text-decoration: none;
        }
    }
    &__box {
        background: var(--el-color-white);
        border-radius: 10px;
    }
    &__foot{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 24px;
        color: var(--el-color-black);
    }
}

html.dark {
    --el-color-white: #181818;
    
    --el-color-black: #fff;
    --bg-color: #141414;
    --el-menu-bg-color: #181818;
    --el-menu-text-color: #fff;
    --el-menu-hover-bg-color: #000;
    .el-textarea,
    .el-input {
        --el-input-bg-color: #181818;
    }
    .el-button {
        --el-button-bg-color: #333;
        --el-button-text-color: #fff;
        &--primary {
            --el-button-bg-color: var(--el-color-primary);
        }
        &--warning {
            --el-button-bg-color: var(--el-color-warning);
        }
        &--danger {
            --el-button-bg-color: var(--el-color-danger);
        }
    }
    .el-table {
        --el-table-tr-bg-color: #181818;
        --el-table-row-hover-bg-color: #000;
        --el-table-header-bg-color: #181818;
        --el-table-bg-color: #141414;
        --el-table-expanded-cell-bg-color: #181818;
    }
    .el-dialog {
        --el-dialog-bg-color: #141414;
        --el-text-color-regular: #fff;
        --el-text-color-primary: #fff;
    }
    .el-main {
        color: #fff;
    }
}